<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>heroWalking1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {52, 72}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 82}</string>
			<key>spriteSourceSize</key>
			<string>{60, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{434, 0}, {60, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroWalking2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {52, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroWalking3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {54, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroWalking4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {52, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{248, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroWalking5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {52, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{310, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroWalking6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {52, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{124, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroWalking7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 10}, {52, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{62, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>heroWalking8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 8}, {52, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 83}</string>
			<key>spriteSourceSize</key>
			<string>{60, 83}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{186, 0}, {60, 83}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>heroAnims.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>